.default-heading-title h1,
.default-heading-title h2,
.default-heading-title h3 {
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.banner .default-heading-title h1,
.banner .default-heading-title h2,
.banner .default-heading-title h3 {
  margin-bottom: 1rem;
  text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
  .banner .default-heading-title h1,
  .banner .default-heading-title h2,
  .banner .default-heading-title h3,
  .banner .default-heading-title p,
  .banner .button {
    margin-left: 8%;
  }
  .banner .default-heading-title h1,
  .banner .default-heading-title h2,
  .banner .default-heading-title h3 {
    width: 55%;
  }
  .banner .default-heading-title p {
    width: 40%;
  }
}
@media screen and (min-width: 1280px) {
  .banner .default-heading-title h1,
  .banner .default-heading-title h2,
  .banner .default-heading-title h3,
  .banner .default-heading-title p,
  .banner .button {
    margin-left: 5%;
  }
}
@media screen and (min-width: 1440px) {
  .banner .default-heading-title h1,
  .banner .default-heading-title h2,
  .banner .default-heading-title h3,
  .banner .default-heading-title p,
  .banner .button {
    margin-left: 0;
  }
}
.button {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  width: fit-content;
  padding: 12px;
  text-decoration: none;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
}
@media screen and (min-width: 1024px) {
  .button {
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Rubik", sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.button-first {
  background-color: #fff;
  color: #1669B1;
}
.button-first:hover {
  background-color: #002369;
  color: #fff !important;
}

.button-second {
  background-color: #fff;
  color: #1669B1;
}
.button-second:hover {
  background-color: #1669B1;
  color: #fff !important;
}

.button-green {
  background-color: #61CE70;
  color: #fff;
}
.button-green:hover {
  background-color: #1C7B29;
}

.button-blue {
  background-color: #1669B1;
  color: #fff;
}
.button-blue:hover {
  background-color: #002369;
}

.button-white {
  background-color: #fff;
  color: #1669B1;
}
.button-white:hover {
  background-color: #002369;
  color: #fff;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1;
}

a {
  text-decoration-skip-ink: auto;
}

a[href^=tel] {
  color: inherit;
  text-decoration: none;
}

button {
  outline: 0;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

q {
  display: inline;
  font-style: italic;
}

q:before {
  content: '"';
  font-style: normal;
}

q:after {
  content: '"';
  font-style: normal;
}

textarea,
input[type=text],
input[type=button],
input[type=submit],
input[type=reset],
input[type=search],
input[type=password] {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td {
  padding: 2px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "MontSerrat", sans-serif;
  font-size: 1rem; /* 16px */
  line-height: 1.25rem;
  overflow-x: hidden;
}

[aria-current]:not([aria-current=false]) {
  color: #002369 !important;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;
  width: 100%;
}
@media screen and (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    padding: 0 2.5rem;
    max-width: 1024px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    padding: 0;
    max-width: 1280px;
  }
}
@media screen and (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.py-3 {
  padding: 0.75rem;
}

.flex {
  display: flex !important;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.object-cover {
  object-fit: cover;
}

.overflow-hidden {
  overflow: hidden;
}

.grid {
  display: grid;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-cols-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-cols-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-cols-7 {
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-cols-8 {
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-cols-9 {
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-cols-10 {
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-cols-11 {
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-cols-12 {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blue {
  color: #1669B1;
}

.blue-dark {
  color: #002369;
}

.uppercase {
  text-transform: uppercase;
}

.mt-20 {
  margin-top: 5rem;
}

.text-center {
  text-align: center;
}

.show-desktop {
  display: none;
}
@media screen and (min-width: 1024px) {
  .show-desktop {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .show-mobile {
    display: none;
  }
}

.bg-blue-hard-light {
  background-color: #315398;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
  mix-blend-mode: hard-light;
  z-index: 10;
}

.breadcrumb {
  display: none;
}

.facilities {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  padding-top: 5rem;
  padding-bottom: 5rem;
}
@media screen and (min-width: 1024px) {
  .facilities {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
}
.facilities .title {
  grid-column: span 12/span 12;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #1669B1;
  text-align: center;
  margin-bottom: 2.5rem;
}
@media screen and (min-width: 1024px) {
  .facilities .title {
    font-size: 2.1875rem;
  }
}
@media screen and (min-width: 1024px) {
  .facilities .title {
    margin-bottom: 5rem;
  }
}
.facilities .title p {
  font-family: "MontSerrat", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  text-transform: none;
}
@media screen and (min-width: 1024px) {
  .facilities .title p {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}
.facilities .title .main-title {
  margin-bottom: 2.5rem;
  color: #002369;
}
.facilities ul {
  grid-column: span 12/span 12;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}
@media screen and (min-width: 1024px) {
  .facilities ul {
    row-gap: 0;
    column-gap: 2.5rem;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
  }
}
.facilities ul .list {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  text-transform: none;
  color: #1669B1;
  position: relative;
  padding-left: 3.75rem;
}
@media screen and (min-width: 1024px) {
  .facilities ul .list {
    font-size: 1.25rem;
  }
}
.facilities ul .list:before {
  content: "";
  background-image: url("../../library/icons/check.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  top: 0;
  left: 0;
}

.button-primary {
  width: fit-content;
  height: fit-content;
  font-family: "MontSerrat", sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #1669B1;
  color: #fff;
  padding: 1.25rem;
  font-weight: bold;
}
.button-primary:hover {
  background-color: #002369;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.post-not-found {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  row-gap: 1.25rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.post-not-found .entry-title {
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #002369;
}
@media screen and (min-width: 1024px) {
  .post-not-found .entry-title {
    font-size: 1.25rem;
  }
}

.social-icon img {
  object-fit: cover;
  background-repeat: no-repeat;
  fill: #fff;
  width: 1.75rem; /* 28px */
  height: 1.75rem; /* 28px */
}
@media screen and (min-width: 1024px) {
  .social-icon img {
    width: 2rem; /* 32px */
    height: 2rem; /* 32px */
  }
}

.social-icon.menu img {
  width: 2.5rem;
  height: 1.25rem;
  object-fit: contain;
}

.header-top {
  background-color: #1669B1;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 30;
}
@media screen and (min-width: 1024px) {
  .header-top {
    position: static;
  }
}
.header-top .socials-and-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: -3.125rem;
}
@media screen and (min-width: 1024px) {
  .header-top .socials-and-menu {
    margin-left: 0;
  }
}
.header-top .socials-and-menu .socials-icons {
  position: relative;
  column-gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 0;
  display: flex;
}
@media screen and (min-width: 1024px) {
  .header-top .socials-and-menu .socials-icons {
    flex-direction: row;
    column-gap: 4rem;
    min-height: 3rem;
  }
}
.header-top .socials-and-menu .socials-icons img {
  width: 2.1875rem;
  height: auto;
  object-fit: cover;
}
@media screen and (min-width: 1024px) {
  .header-top .socials-and-menu .socials-icons img {
    width: 2.1875rem;
    height: 2.1875rem;
  }
}
.header-top .socials-and-menu .open-menu-mobile .bg-menu-mobile {
  position: absolute;
  top: 0;
  right: 1rem;
  background: url("../../library/icons/menu-icon.svg");
  transform: translateY(1.5rem);
  width: 2.0625rem;
  height: 1.3125rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  padding-left: 1.5rem;
  text-indent: -624.9375rem;
  border: none;
}
@media screen and (min-width: 1024px) {
  .header-top .socials-and-menu .open-menu-mobile .bg-menu-mobile {
    display: none;
  }
}

.header-menu-itens {
  padding: 0.75rem;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .header-menu-itens {
    align-items: center;
    column-gap: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .header-menu-itens {
    column-gap: 3.5rem;
  }
}
.header-menu-itens .logo {
  width: 11.25rem;
  height: auto;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1024px) {
  .header-menu-itens .logo {
    width: 10rem;
  }
}
@media screen and (min-width: 1280px) {
  .header-menu-itens .logo {
    width: 16rem;
  }
}
.header-menu-itens .menu-items {
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  padding: 1.5rem;
  z-index: 30;
  display: none;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Rubik", sans-serif;
}
@media screen and (min-width: 1024px) {
  .header-menu-itens .menu-items {
    padding: 0;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    row-gap: 1.25rem;
  }
}
.header-menu-itens .menu-items nav#custom-header-menu {
  overflow-y: scroll;
  padding-bottom: 3.75rem;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .header-menu-itens .menu-items nav#custom-header-menu {
    overflow-y: inherit;
    padding-bottom: 0;
    width: auto;
  }
}
.header-menu-itens .menu-items nav#custom-header-menu ul#custom-header-menu {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  margin-top: 3.125rem;
}
@media screen and (min-width: 1024px) {
  .header-menu-itens .menu-items nav#custom-header-menu ul#custom-header-menu {
    flex-direction: row;
    row-gap: 0;
    column-gap: 1rem;
    margin-top: 0;
  }
}
@media screen and (min-width: 1440px) {
  .header-menu-itens .menu-items nav#custom-header-menu ul#custom-header-menu {
    column-gap: 1.5rem;
  }
}
@media screen and (min-width: 1536px) {
  .header-menu-itens .menu-items nav#custom-header-menu ul#custom-header-menu {
    column-gap: 4rem;
  }
}
.header-menu-itens .menu-items nav#custom-header-menu ul#custom-header-menu li a {
  color: #1669B1;
  text-decoration: none;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.header-menu-itens .menu-items nav#custom-header-menu ul#custom-header-menu li a:hover {
  color: #002369;
}
.header-menu-itens .menu-items nav#custom-header-menu ul#custom-header-menu li.father-item a:first-child:hover {
  color: #002369;
}
@media screen and (min-width: 1024px) {
  .header-menu-itens .menu-items nav#custom-header-menu ul#custom-header-menu li.father-item {
    font-size: 0.9375rem;
  }
}
@media screen and (min-width: 1440px) {
  .header-menu-itens .menu-items nav#custom-header-menu ul#custom-header-menu li.father-item {
    font-size: 16px;
  }
}
.header-menu-itens .menu-items nav#custom-header-menu ul#custom-header-menu li.father-item:hover::after {
  content: "";
  position: absolute;
  top: 0.9375rem;
  left: 0;
  height: 6.875rem;
  width: 100%;
}
.header-menu-itens .menu-items nav#custom-header-menu ul#custom-header-menu li.father-item:hover ul.sub-menu-0 {
  display: flex;
  row-gap: 5rem;
  background-color: #fff;
  position: absolute;
  top: 20px;
  width: auto;
  height: auto;
  padding-left: 0;
  padding: 20px;
  z-index: 10;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .header-menu-itens .menu-items nav#custom-header-menu ul#custom-header-menu li.father-item:hover ul.sub-menu-0 {
    column-gap: 5rem;
    row-gap: 0;
  }
}
.header-menu-itens .menu-items nav#custom-header-menu ul#custom-header-menu li.father-item:hover ul.sub-menu-0 a {
  margin-bottom: 0.625rem;
  display: block;
}
.header-menu-itens .menu-items nav#custom-header-menu ul#custom-header-menu li.father-item:hover ul.sub-menu-1 {
  display: block;
}
.header-menu-itens .menu-items nav#custom-header-menu ul#custom-header-menu li.father-item:hover ul.sub-menu-1 a {
  font-weight: normal;
  text-transform: none;
}
.header-menu-itens .menu-items nav#custom-header-menu ul#custom-header-menu ul.sub-menu {
  padding-left: 1.25rem;
}
.header-menu-itens .menu-items nav#custom-header-menu ul#custom-header-menu ul.sub-menu li a {
  text-transform: none;
}
@media screen and (min-width: 1024px) {
  .header-menu-itens .menu-items nav#custom-header-menu ul#custom-header-menu ul.sub-menu {
    display: none;
  }
}
.header-menu-itens .menu-items nav#custom-header-menu ul#custom-header-menu .child-item {
  margin-top: 10px;
}
.header-menu-itens .menu-items .bg-close-menu-mobile {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  padding-left: 1.5rem;
  text-indent: -624.9375rem;
  border: none;
  position: absolute;
  top: 1.75rem;
  right: 1rem;
  width: 2.25rem;
  height: 2.25rem;
  background: url("../../library/icons/close-menu-icon.svg");
}
@media screen and (min-width: 1024px) {
  .header-menu-itens .menu-items .bg-close-menu-mobile {
    display: none;
  }
}

footer {
  color: #fff;
  margin-bottom: 4rem;
}
footer a {
  text-decoration: none;
  color: #fff;
}
@media screen and (min-width: 1024px) {
  footer {
    margin-bottom: 0;
  }
}
footer .pre-footer {
  background-color: #1669B1;
  display: flex;
  flex-direction: column;
  padding: 2.5rem 0;
}
@media screen and (min-width: 1024px) {
  footer .pre-footer {
    padding-top: 8.125rem;
    padding-bottom: 5rem;
    flex-direction: row;
    align-items: center;
  }
}
footer .pre-footer .container {
  align-items: center;
}
footer .pre-footer .menu-footer-items {
  grid-column: span 12/span 12;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  footer .pre-footer .menu-footer-items {
    grid-column: span 3/span 3;
  }
}
footer .pre-footer .menu-footer-items .menu {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  font-weight: 600;
  font-family: "Rubik", sans-serif;
}
@media screen and (min-width: 1024px) {
  footer .pre-footer .menu-footer-items .menu {
    font-size: 1.125rem;
  }
}
footer .pre-footer .menu-footer-items .menu a:hover {
  color: #002369;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
footer .pre-footer .social-networks {
  grid-column: span 12/span 12;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  row-gap: 1.25rem;
  margin: 2.5rem 0;
  column-gap: 1.25rem;
}
@media screen and (min-width: 1024px) {
  footer .pre-footer .social-networks {
    grid-column: span 1/span 1;
    flex-direction: column;
    margin: 0;
    column-gap: 0;
  }
}
footer .pre-footer .social-networks img {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
}
footer .pre-footer .contact {
  grid-column: span 12/span 12;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.25rem;
  margin-bottom: 40px;
}
@media screen and (min-width: 1024px) {
  footer .pre-footer .contact {
    grid-column: span 3/span 3;
    margin-bottom: 0;
    transform: translateX(1.5625rem);
  }
}
@media screen and (min-width: 1280px) {
  footer .pre-footer .contact {
    grid-column: span 4/span 4;
    transform: translateX(0);
  }
}
footer .pre-footer .contact .title {
  margin-bottom: 0.625rem;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  color: #fff !important;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  footer .pre-footer .contact .title {
    font-size: 23px;
  }
}
@media screen and (min-width: 1440px) {
  footer .pre-footer .contact .title {
    font-size: 35px;
  }
}
footer .pre-footer .contact a {
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 0.625rem;
  width: fit-content;
}
@media screen and (min-width: 1024px) {
  footer .pre-footer .contact a {
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  footer .pre-footer .contact a {
    width: 14rem;
  }
}
footer .pre-footer .contact a:hover {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
footer .pre-footer .contact a:hover .wpp-blue, footer .pre-footer .contact a:hover .email-blue {
  display: none;
}
footer .pre-footer .contact a:hover .wpp-white, footer .pre-footer .contact a:hover .email-white {
  display: block;
}
footer .pre-footer .contact a .wpp-white, footer .pre-footer .contact a .email-white {
  display: none;
}
footer .pre-footer .contact img {
  width: 1.25rem;
  height: 1.25rem;
  object-fit: cover;
}
@media screen and (min-width: 1024px) {
  footer .pre-footer .contact img {
    width: 30px;
    height: 30px;
  }
}
footer .pre-footer .chris-contact {
  grid-column: span 12/span 12;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  font-weight: 700;
}
@media screen and (min-width: 1024px) {
  footer .pre-footer .chris-contact {
    grid-column: span 5/span 5;
    grid-column-start: 9;
  }
}
@media screen and (min-width: 1280px) {
  footer .pre-footer .chris-contact {
    grid-column: span 4/span 4;
    grid-column-start: inherit;
  }
}
footer .pre-footer .chris-contact a {
  font-weight: 700;
  font-size: 1.125rem;
}
footer .pre-footer .chris-contact a:hover {
  color: #002369;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
footer .pre-footer .chris-contact .title {
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  font-size: 1.25rem;
  line-height: 1.75rem;
  line-height: 1.5rem; /* 24px */
  color: #fff !important;
  margin-bottom: 0.625rem;
  text-transform: uppercase;
}
@media screen and (min-width: 1024px) {
  footer .pre-footer .chris-contact .title {
    font-size: 25px;
  }
}
footer .after-footer {
  text-align: center;
  font-size: 0.875rem;
  color: #1669B1;
  padding: 1.25rem 0;
}
footer .after-footer .designer {
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: #1669B1;
}
footer .wpp-float {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: contain;
  position: fixed;
  z-index: 50;
  animation: bounce 1s infinite;
  bottom: 8.375rem;
  right: 1.25rem;
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1024px) {
  footer .wpp-float {
    width: 65px;
    height: 65px;
    right: 2.5rem;
    bottom: 6.25rem;
  }
}
footer .scroll-to-top-btn {
  background-position: center;
  cursor: pointer;
  overflow: hidden;
  padding-left: 1.5rem;
  text-indent: -624.9375rem;
  border: none;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  position: fixed;
  bottom: 4.875rem;
  right: 1.875rem;
  background: url("../../library/icons/up-arrow.svg");
  width: 1.875rem;
  height: 1.875rem;
  object-fit: contain;
}
@media screen and (min-width: 1024px) {
  footer .scroll-to-top-btn {
    right: 2.5rem;
    bottom: 3.125rem;
  }
}

.arrow-swiper {
  width: 3.75rem !important;
}

.arrow-swiper::after {
  content: "" !important;
  background-image: url("../../library/icons/arrow-right-circle.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 2.8125rem;
  width: 2.8125rem;
}

.swiper-button-next.arrow-swiper-next, .swiper-button-prev.arrow-swiper-prev {
  display: none;
}
@media screen and (min-width: 1024px) {
  .swiper-button-next.arrow-swiper-next, .swiper-button-prev.arrow-swiper-prev {
    display: flex;
  }
}

.swiper-button-next.arrow-swiper-next {
  right: 1.875rem;
}

.swiper-button-prev.arrow-swiper-prev {
  left: 1.875rem;
}

.arrow-swiper-prev::after {
  transform: rotate(180deg);
}

.swiper-container {
  position: relative;
  height: 25rem;
}
@media screen and (min-width: 1024px) {
  .swiper-container {
    height: 31.25rem;
  }
}
.swiper-container .swiper-slide a {
  margin-top: 24px;
  text-decoration: none;
}
.swiper-container .swiper-slide .default-heading-title {
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  justify-content: center;
}

.our-services {
  padding: 5rem 0;
}
@media screen and (min-width: 1024px) {
  .our-services {
    padding: 8.75rem 0;
  }
}
.our-services .content-text {
  text-align: center;
  margin-bottom: 5rem;
}
.our-services .content-text .wrap {
  grid-column: span 12/span 12;
}
@media screen and (min-width: 1024px) {
  .our-services .content-text .wrap {
    grid-column: span 8/span 8;
    grid-column-start: 3;
  }
}
.our-services .content-text .wrap .title {
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-bottom: 2rem;
  color: #1669B1;
}
@media screen and (min-width: 1024px) {
  .our-services .content-text .wrap .title {
    font-size: 3.4375rem;
    text-indent: -1px;
  }
}
.our-services .content-text .wrap .text {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.our-services .service-image {
  padding: 2.5rem 1rem;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
@media screen and (min-width: 1024px) {
  .our-services .service-image {
    column-gap: 0.625rem;
    padding: 5rem 0;
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
}
.our-services .service-image a {
  color: #fff;
  text-decoration: none;
}
.our-services .service-image .images {
  width: auto;
  height: 100%;
}
.our-services .service-image .images img {
  width: 100%;
  object-fit: cover;
}
.our-services .service-image .images.image-1 {
  grid-column: span 12/span 12;
}
@media screen and (min-width: 1024px) {
  .our-services .service-image .images.image-1 {
    grid-column: span 3/span 3;
  }
}
.our-services .service-image .images.image-1 img {
  border-radius: 1.25rem;
  padding-bottom: 5rem;
  height: 25rem;
}
@media screen and (min-width: 1024px) {
  .our-services .service-image .images.image-1 img {
    border-radius: 0 1.25rem 1.25rem 0;
    padding-bottom: 0;
    height: 100%;
  }
}
.our-services .service-image .images.image-2 {
  grid-column: span 12/span 12;
}
@media screen and (min-width: 1024px) {
  .our-services .service-image .images.image-2 {
    grid-column: span 3/span 3;
  }
}
.our-services .service-image .images.image-2 img {
  border-radius: 1.25rem 0 0 1.25rem;
  height: 100%;
}
.our-services .service-image .services-cards {
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  .our-services .service-image .services-cards {
    grid-column: span 6/span 6;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    padding: 0 0.625rem;
    height: 25rem;
  }
}
@media screen and (min-width: 1440px) {
  .our-services .service-image .services-cards {
    padding: 0 2.5rem;
  }
}
.our-services .service-image .services-cards .card {
  background-color: #002369;
  color: #fff;
  border-radius: 0.625rem;
}
.our-services .service-image .services-cards .card .header {
  background-color: #1669B1;
  border-radius: 0.625rem 0.625rem 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.875rem;
  column-gap: 0.625rem;
  height: 6.25rem;
}
.our-services .service-image .services-cards .card .header .icon {
  object-fit: contain;
  width: 2.8125rem;
  height: 2.8125rem;
}
.our-services .service-image .services-cards .card .header .title {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
}
@media screen and (min-width: 1440px) {
  .our-services .service-image .services-cards .card .header .title {
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Rubik", sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
@media screen and (min-width: 1440px) and (min-width: 1024px) {
  .our-services .service-image .services-cards .card .header .title {
    font-size: 1.25rem;
  }
}
.our-services .service-image .services-cards .card .text {
  padding: 0.875rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
}

.we-experts {
  position: relative;
}
.we-experts .bg-image {
  grid-column: span 12/span 12;
  position: relative;
  height: 25rem;
}
@media screen and (min-width: 1024px) {
  .we-experts .bg-image {
    grid-column: span 6/span 6;
    height: 40rem;
  }
}
.we-experts .bg-image img {
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  height: 25rem;
}
@media screen and (min-width: 1024px) {
  .we-experts .bg-image img {
    height: 40rem;
  }
}
@media screen and (min-width: 640px) {
  .we-experts .bg-image img, .we-experts .content {
    height: 31.25rem;
  }
}
@media screen and (min-width: 1024px) {
  .we-experts .bg-image img, .we-experts .content {
    height: 40rem;
  }
}
.we-experts .blue-bg {
  background-color: #1669B1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.we-experts .content {
  grid-column: span 12/span 12;
  background-color: #1669B1;
  color: #fff;
  z-index: 20;
  row-gap: 2.5rem;
  padding: 5rem 1rem;
}
@media screen and (min-width: 1024px) {
  .we-experts .content {
    grid-column: span 5/span 5;
    grid-column-start: 7;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: baseline;
    padding-left: 2.5rem;
  }
}
@media screen and (min-width: 1440px) {
  .we-experts .content {
    grid-column: span 4/span 4;
    grid-column-start: 8;
  }
}
.we-experts .content .default-heading-title {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
}
.we-experts .content .default-heading-title p {
  line-height: 1.875rem;
}
.we-experts .content .button-first {
  margin-top: 40px;
  display: block;
}
@media screen and (min-width: 1024px) {
  .we-experts .content .button-first {
    margin-top: 0;
  }
}

.partners {
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-align: center;
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  .partners {
    padding-top: 9.375rem;
    padding-bottom: 9.375rem;
  }
}
.partners .title {
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  font-size: 2.25rem;
  line-height: 2.5rem;
  color: #1669B1;
  margin-bottom: 2.5rem;
}
@media screen and (min-width: 1024px) {
  .partners .title {
    font-size: 3.4375rem;
    text-indent: -1px;
  }
}
@media screen and (min-width: 1024px) {
  .partners .title {
    margin-bottom: 6.25rem;
  }
}
.partners .slides img {
  width: 15.625rem;
  height: 15.625rem;
  object-fit: contain;
}

.descriptive-table {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
@media screen and (min-width: 1024px) {
  .descriptive-table {
    padding-top: 12.5rem;
    padding-bottom: 12.5rem;
  }
}
.descriptive-table .tables {
  column-gap: 2.5rem;
  display: block;
}
@media screen and (min-width: 1024px) {
  .descriptive-table .tables {
    display: grid;
  }
}
.descriptive-table .tables .title {
  grid-column: span 12/span 12;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #1669B1;
  text-align: center;
  margin-bottom: 2.5rem;
}
@media screen and (min-width: 1024px) {
  .descriptive-table .tables .title {
    font-size: 2.1875rem;
  }
}
@media screen and (min-width: 1024px) {
  .descriptive-table .tables .title {
    margin-bottom: 6.25rem;
    grid-column: span 8/span 8;
    grid-column-start: 3;
    line-height: 2.5rem;
  }
}
.descriptive-table .tables .image {
  grid-column: span 12/span 12;
  margin-bottom: 2.5rem;
  height: 25rem;
}
@media screen and (min-width: 1024px) {
  .descriptive-table .tables .image {
    grid-column: span 7/span 7;
    margin-bottom: 0;
    height: inherit;
  }
}
.descriptive-table .tables .image img {
  height: 25rem;
  position: absolute;
  left: 0;
}
@media screen and (min-width: 1024px) {
  .descriptive-table .tables .image img {
    height: 40.625rem;
    position: relative;
  }
}
.descriptive-table .tables .itens {
  grid-column: span 12/span 12;
  display: flex;
  flex-direction: column;
  row-gap: 1.875rem;
}
@media screen and (min-width: 1024px) {
  .descriptive-table .tables .itens {
    grid-column: span 5/span 5;
    justify-content: center;
    row-gap: 3.125rem;
  }
}
.descriptive-table .tables .itens .icon {
  position: relative;
}
.descriptive-table .tables .itens .icon:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../../library/icons/plano-de-saude-importancia.svg");
  width: 3.75rem;
  height: 3.75rem;
  background-repeat: no-repeat;
  background-size: contain;
}
.descriptive-table .tables .itens .text p {
  padding-left: 5rem;
}
.descriptive-table .tables .itens .text p strong {
  font-weight: 700;
}

.call-to-action {
  padding-bottom: 5rem;
  color: #fff;
  background-color: #1669B1;
}
@media screen and (min-width: 1024px) {
  .call-to-action {
    padding: 6.25rem 0;
  }
}
.call-to-action .content {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  align-items: center;
  text-align: center;
}
.call-to-action .content .title {
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  font-size: 1.25rem;
  line-height: 1.75rem;
  line-height: 2.8125rem;
  color: #fff;
}
@media screen and (min-width: 1024px) {
  .call-to-action .content .title {
    font-size: 2.1875rem;
  }
}
@media screen and (min-width: 1024px) {
  .call-to-action .content .title {
    max-width: 30rem;
  }
}
.call-to-action .content p {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.call-to-action .content .button-green, .call-to-action .content .button-white {
  font-size: 1.125rem;
}

.page-sobre .perfil .header-top {
  position: relative;
  height: auto;
  text-align: center;
}
.page-sobre .perfil .header-top .socials-and-menu {
  margin-left: 0;
}
.page-sobre .choose {
  background-color: #1669B1;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
@media screen and (min-width: 1024px) {
  .page-sobre .choose {
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
  }
}
.page-sobre .choose .cards {
  display: grid;
  column-gap: 0;
  row-gap: 1.25rem;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
@media screen and (min-width: 1024px) {
  .page-sobre .choose .cards {
    column-gap: 1.25rem;
    row-gap: 2.5rem;
  }
}
.page-sobre .choose .cards .choosen {
  background-color: #fff;
  color: #1669B1;
  border-radius: 30px;
  padding: 2.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2.5rem;
  text-align: center;
  grid-column: span 12/span 12;
}
@media screen and (min-width: 1024px) {
  .page-sobre .choose .cards .choosen {
    grid-column: span 4/span 4;
  }
}
.page-sobre .choose .cards .choosen .circle {
  background-color: #1669B1;
  width: 6.25rem;
  height: 6.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
}
.page-sobre .choose .cards .choosen .circle .icon {
  width: 3.75rem;
  height: 3.75rem;
  object-fit: contain;
}
.page-sobre .choose .cards .choosen .content {
  row-gap: 1.25rem;
  display: flex;
  flex-direction: column;
}
.page-sobre .choose .cards .choosen .content h1, .page-sobre .choose .cards .choosen .content h2, .page-sobre .choose .cards .choosen .content h3, .page-sobre .choose .cards .choosen .content h4 {
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 2.5rem;
  color: #1669B1;
}

.page-orcamento {
  color: #1669B1;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  margin-top: 2.5rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
@media screen and (min-width: 1024px) {
  .page-orcamento {
    padding-top: 5rem;
    padding-bottom: 6.25rem;
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
}
.page-orcamento .title {
  grid-column: span 12/span 12;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-bottom: 5rem;
}
@media screen and (min-width: 1024px) {
  .page-orcamento .title {
    font-size: 2.1875rem;
  }
}
.page-orcamento img.icon {
  object-fit: contain;
  background-repeat: no-repeat;
  width: 1.75rem;
  height: 1.75rem;
}
@media screen and (min-width: 1024px) {
  .page-orcamento img.icon {
    width: 2rem;
    height: 2rem;
  }
}
.page-orcamento .socials-icons {
  grid-column: span 12/span 12;
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
}
@media screen and (min-width: 1024px) {
  .page-orcamento .socials-icons {
    grid-column: span 6/span 6;
  }
}
.page-orcamento .socials-icons a {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.625rem;
  text-decoration: none;
  font-family: "MontSerrat", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: bold;
  color: #1669B1;
}
@media screen and (min-width: 1024px) {
  .page-orcamento .socials-icons a {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}
.page-orcamento .socials-icons a:hover {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  color: #002369;
}
.page-orcamento .socials-icons .address {
  display: flex;
  flex-direction: row;
  column-gap: 0.625rem;
}
.page-orcamento .socials-icons .address .text {
  font-family: "MontSerrat", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: bold;
}
@media screen and (min-width: 1024px) {
  .page-orcamento .socials-icons .address .text {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}
.page-orcamento .form {
  grid-column: span 12/span 12;
  margin-top: 5rem;
}
@media screen and (min-width: 1024px) {
  .page-orcamento .form {
    grid-column: span 6/span 6;
    margin-top: 0;
  }
}

.single .facilities .title {
  line-height: 2.75rem;
}
.single .icon {
  width: 2.5rem;
  height: 2.5rem;
}
.single .tab {
  overflow: hidden;
}
.single .tab .headers {
  display: flex;
  flex-direction: row;
}
.single .tab .headers .tab-header {
  background-color: #1669B1;
  color: #fff;
  padding: 1.25rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  border: none;
  outline: none;
  transition: background-color 0.3s;
}
@media screen and (min-width: 1024px) {
  .single .tab .headers .tab-header {
    font-size: 1.25rem;
  }
}
.single .tab .headers .tab-header:hover, .single .tab .headers .tab-header.active {
  background-color: #002369;
}
.single .tab .tab-body {
  background-color: #002369;
  color: #fff;
  padding: 2.5rem;
  clear: both;
  display: none;
}
@media screen and (min-width: 1024px) {
  .single .tab .tab-body {
    padding: 5rem;
  }
}
.single .tab .tab-body .descriptions-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}
.single .tab .tab-body .descriptions-options .title {
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-bottom: 2.5rem;
  line-height: 2.5rem;
}
@media screen and (min-width: 1024px) {
  .single .tab .tab-body .descriptions-options .title {
    font-size: 2.1875rem;
  }
}
.single .tab .tab-body .descriptions-options .title-and-icon-list {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2.5rem;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .single .tab .tab-body .descriptions-options .title-and-icon-list {
    flex-direction: row;
  }
}
.single .tab .tab-body .descriptions-options .title-and-icon-list .icon-text {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.625rem;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}
.single .tab .tab-body .packages {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}
@media screen and (min-width: 1024px) {
  .single .tab .tab-body .packages {
    flex-direction: row;
    column-gap: 1.25rem;
    row-gap: 0;
  }
}
.single .tab .tab-body .packages .packs {
  background-color: #fff;
  color: #1669B1;
  border-radius: 0.625rem 0.625rem 0 0;
}
.single .tab .tab-body .packages .packs .title {
  font-family: "MontSerrat", sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-transform: none;
  border-radius: 0.625rem 0.625rem 0 0;
  background-color: #1669B1;
  padding: 1.25rem;
  text-align: center;
  color: #fff;
}
.single .tab .tab-body .packages .packs .title h1,
.single .tab .tab-body .packages .packs .title h2,
.single .tab .tab-body .packages .packs .title h3,
.single .tab .tab-body .packages .packs .title h4 {
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}
@media screen and (min-width: 1024px) {
  .single .tab .tab-body .packages .packs .title h1,
  .single .tab .tab-body .packages .packs .title h2,
  .single .tab .tab-body .packages .packs .title h3,
  .single .tab .tab-body .packages .packs .title h4 {
    font-size: 1.25rem;
  }
}
.single .tab .tab-body .packages .packs p {
  margin-bottom: 10px;
  font-family: "MontSerrat", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}
@media screen and (min-width: 1024px) {
  .single .tab .tab-body .packages .packs p {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}
.single .tab .tab-body .packages .packs .content {
  display: flex;
  flex-direction: row;
  column-gap: 0.625rem;
  margin-top: 1.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0 1.25rem 1.25rem;
}
.single .tab .tab-body .packages .packs .content .icon {
  width: 1.5625rem;
  height: 1.5625rem;
  transform: translateY(0.3125rem);
}

/*# sourceMappingURL=style.css.map */
