$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-1_5xl: 1440px;
$breakpoint-2xl: 1536px;

$white: #fff;
$black: #000;
$gray-ultradark: #253745;
$gray-dark: #41535E;
$gray-medium: #9BABAB;
$gray-light: #CCD0CF;
$green: #61CE70;
$green-dark: #1C7B29;
$blue-dark: #11212D;
$blue-ultradark: #06141B;
