.about{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    
    background-color: $blue-dark;

    @media screen and (min-width: $breakpoint-lg) {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .content{
        display: grid;
        @include grid-cols-12;

        .me{
            @include col-span-12;
            display: grid;
            align-items: center;
            grid-template-columns: repeat(12, minmax(0, 1fr));
            row-gap: 1.25rem;
            
            @media screen and (min-width: $breakpoint-lg) {
                column-gap: 0.625rem;
                row-gap: 0;
            }
            
            .pic{
                position: relative;
                height: 28.125rem;
                @include col-span-12;
                
                @media screen and (min-width: $breakpoint-lg) {
                    @include col-span-4;
                }
            }
    
            .heading-title{
                text-align: center;
                @include col-span-12;
                
                @media screen and (min-width: $breakpoint-lg) {
                    @include col-span-6;
                    @include col-start-6;
                }
    
                h1, h2, h3{
                    @include heading-title-xl;
                    margin-bottom: 1.25rem;   
    
                    @media screen and (min-width: $breakpoint-lg) {
                        margin-bottom: 2.5rem;
                    }
                }
    
                p{
                    text-align: left;
                    margin-bottom: 1.25rem;
                    @include text-base;
                }
            }
        }
    
        .strong-points{
            @include col-span-12;
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            margin-top: 5rem;
            row-gap: 2.5rem;
            
            @media screen and (min-width: $breakpoint-lg) {
                row-gap: 5rem;
                grid-template-columns: repeat(3, minmax(0, 1fr));
            }

            .card{
                text-align: center;

                img.icon{
                    width: 2.5rem;
                    height: 2.5rem;
                    object-fit: contain;
                    margin-bottom: 0.625rem;
    
                    @media screen and (min-width: $breakpoint-lg) {
                        width: 3.75rem;
                        height: 3.75rem;
                    }
                }

                p{
                    @include font-rubik;
                    font-weight: 600;
                    max-width: 9.375rem;
                    margin-left: auto;
                    margin-right: auto;

                    @media screen and (min-width: $breakpoint-lg) {
                        max-width: 21.875rem;
                    }  
                }
            }
        }
    }

}