@import '../../helpers/variables.scss';
@import '../../helpers/mixins.scss';

.banners{
    
    .default-heading-title {
        @media screen and (min-width: $breakpoint-lg) {
            max-width: 49.75rem;
        }

        h1, h2{
            text-transform: uppercase;
        }
        
        h1{
            @include heading-title-2xl;
            margin-top: 0.625rem;
        }
    }
}