@import '../../helpers/variables.scss';
@import '../../helpers/mixins.scss';

.our-services{
    padding: 5rem 0;

    @media screen and (min-width: $breakpoint-lg){
        padding: 8.75rem 0;
    }

    .content-text{
        text-align: center;
        margin-bottom: 5rem;
                
        .wrap{
            grid-column: span 12 / span 12;
            
            @media screen and (min-width: $breakpoint-lg){
                grid-column: span 8 / span 8;
                grid-column-start: 3;
            }

            .title{
                @include heading-title-2xl;
                margin-bottom: 2rem;
                color: $blue;
            }

            .text{
                @include text-lg
            }
        }
       
    }

    .service-image{
        padding: 2.5rem 1rem;
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        
        @media screen and (min-width: $breakpoint-lg){
            column-gap: 0.625rem;
            padding: 5rem 0;
            grid-template-columns: repeat(12, minmax(0, 1fr));
        }
        a{
            color: $white;
            text-decoration: none;
        }

        .images {
            width: auto;
            height: 100%;

            img{
                width: 100%;
                object-fit: cover;
            }
    
            &.image-1{
                @include col-span-12;

                @media screen and (min-width: $breakpoint-lg){
                    @include col-span-3
                }

                img{
                    border-radius: 1.25rem;
                    padding-bottom: 5rem;
                    height: 25rem;

                    @media screen and (min-width: $breakpoint-lg){
                        border-radius: 0 1.25rem 1.25rem 0;
                        padding-bottom: 0;
                        height: 100%;
                    }

                }
            } 
            
            &.image-2{
                @include col-span-12;
                
                @media screen and (min-width: $breakpoint-lg){
                    @include col-span-3
                }
                
                img{
                    border-radius: 1.25rem 0  0 1.25rem;
                    height: 100%;
                }
            }
       
        } 

        .services-cards{
           
            overflow: hidden;
                      
            @media screen and (min-width: $breakpoint-lg){
                @include col-span-6;
                grid-template-columns: repeat(6, minmax(0, 1fr));
                padding: 0 0.625rem;
                height: 25rem;
            }
 
            @media screen and (min-width: $breakpoint-1_5xl){
                padding: 0 2.5rem;
            }

            .card{
              
                background-color: $blue-dark;
                color: $white;
                border-radius: 0.625rem;

                .header{
                    background-color: $blue;
                    border-radius: 0.625rem 0.625rem 0 0;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    padding: 0.875rem;
                    column-gap: 0.625rem;
                    height: 6.25rem;

                    .icon{
                        object-fit: contain;
                        width: 2.8125rem;
                        height: 2.8125rem;
                    }
                    .title{
                        color: $white;
                        @include heading-titles;
                        font-size: 1.125rem;
                        
                        @media screen and (min-width: $breakpoint-1_5xl){
                            @include heading-title-lg;
                        }
                    }
                }
                .text{
                    padding: 0.875rem;
                    @include text-sm;
                    text-align: center;
                }
            }
        }

       
    }
}