@import '../../helpers/variables.scss';
@import '../../helpers/mixins.scss';

.partners{
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-align: center;
    overflow: hidden;

    @media screen and (min-width: $breakpoint-lg) {
        padding-top: 9.375rem;
        padding-bottom: 9.375rem;
    }

    .title{
        @include heading-title-2xl;
        color: $blue;
        margin-bottom: 2.5rem;

        @media screen and (min-width: $breakpoint-lg) {
            margin-bottom: 6.25rem;
        }
    }

    .slides{
      
        img{
            width: 15.625rem;
            height: 15.625rem;
            object-fit: contain;
           
        }
    }
}