@import '../helpers/variables.scss';
@import '../helpers/mixins.scss';

footer{
    color: $white;
    margin-bottom: 4rem;

    a{
        text-decoration: none;
        color: $white;
    }

    @media screen and (min-width: $breakpoint-lg) {
        margin-bottom: 0;
    }

    .pre-footer{
        background-color: $blue;
        display: flex;
        flex-direction: column;
        padding: 2.5rem 0;
        
        @media screen and (min-width: $breakpoint-lg) {
            padding-top: 8.125rem;
            padding-bottom: 5rem;
            flex-direction: row;
            align-items: center;
        }

        .container{
            align-items: center;
        }
        
        .menu-footer-items{
            @include col-span-12;
            text-align: center;
    
            @media screen and (min-width: $breakpoint-lg) {
                @include col-span-3;
            }

            .menu{
                display: flex;
                flex-direction: column;
                row-gap: 10px;
                font-weight: 600;
                @include font-rubik;

                @media screen and (min-width: $breakpoint-lg) {
                    font-size: 1.125rem;
                }
                
                a:hover{
                    color: $blue-dark;
                    @include transition-colors;
                }
            }
        }

        .social-networks{
            @include col-span-12;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            row-gap: 1.25rem;
            margin: 2.5rem 0;
            column-gap: 1.25rem;
            
            
            @media screen and (min-width: $breakpoint-lg) {
                @include col-span-1;
                flex-direction: column;
                margin: 0;
                column-gap:0;
            }

            img{
                width: 2.5rem;
                height: 2.5rem;
                object-fit: cover;
            }
        }

        .contact{
            @include col-span-12;
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 1.25rem;
            margin-bottom: 40px;

            @media screen and (min-width: $breakpoint-lg){
                @include col-span-3;
                margin-bottom: 0;
                transform: translateX(1.5625rem);
            }
            
            @media screen and (min-width: $breakpoint-xl) {
                @include col-span-4;
                transform: translateX(0);
            }

            .title{
                margin-bottom: 0.625rem;
                @include heading-titles;
                font-size: 20px;

                @media screen and (min-width: $breakpoint-lg){
                    font-size: 23px;
                }

                @media screen and (min-width: $breakpoint-1_5xl) {
                    font-size: 35px;
                }
                color: $white!important;
                text-align: center;
            }

            a{
                @include heading-titles;
                font-size: 15px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                column-gap: 0.625rem;
                width: fit-content;
                
                @media screen and (min-width: $breakpoint-lg) {
                    width: 100%;
                }
                
                @media screen and (min-width: $breakpoint-xl) {
                    width: 14rem;
                }

                &:hover{
                    @include transition-opacity;
                    .wpp-blue, .email-blue{
                        display: none;
                    }
        
                    .wpp-white, .email-white{
                        display: block;
                    }
                }
                .wpp-white, .email-white{
                    display: none;
                }
            }


            img{
                width: 1.25rem;
                height: 1.25rem;
                object-fit: cover;

                
                @media screen and (min-width: $breakpoint-lg) {
                    width: 30px;
                    height: 30px;
                }
            }
        }

        .chris-contact{
            @include col-span-12;
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 1rem;
            font-weight: 700;
            @media screen and (min-width: $breakpoint-lg){
                @include col-span-5;
                @include col-start-9;
            }
            
            @media screen and (min-width: $breakpoint-xl) {
                @include col-span-4;
                @include col-start-inherit;
            }
            
            a{
                font-weight: 700;
                font-size: 1.125rem;

                &:hover{
                    color: $blue-dark;
                    @include transition-colors;
                }
            }

            .title{
                @include heading-titles;
                @include text-xl;
                line-height: 1.5rem; /* 24px */
                color: $white!important;
                margin-bottom: 0.625rem;
                text-transform: uppercase;
                
                @media screen and (min-width: $breakpoint-lg) {
                  font-size: 25px;
                }
            }
        }
    }

    .after-footer{
        text-align: center;
        font-size: 0.875rem;
        color: $blue;
        padding: 1.25rem 0;

        .designer{
            @include text-xs;
            color: $blue;
        }
    }

    .wpp-float{
        width: 2.5rem;
        height: 2.5rem;
        object-fit: contain;
        position: fixed;
        z-index: 50;
        @include anime-bounce;
        bottom: 8.375rem;
        right: 1.25rem;
        
        @media screen and (min-width: $breakpoint-lg) {
            width: 65px;
            height: 65px;
            right: 2.5rem;
            bottom: 6.25rem;
        }
    }

    .scroll-to-top-btn{
        background-position: center;
        cursor: pointer;
        overflow: hidden;
        padding-left: 1.5rem;
        text-indent: -624.9375rem;
        border: none;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        position: fixed;
        bottom: 4.875rem;
        right: 1.875rem;
        background: url("../../library/icons/up-arrow.svg");
        width: 1.875rem;
        height: 1.875rem;
        object-fit: contain;
        
        @media screen and (min-width: $breakpoint-lg) {
            right: 2.5rem;
            bottom: 3.125rem;
        }
    }
}
